<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gabilheri.rosbridgecontroller.app" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.gabilheri.rosbridgecontroller.app.MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name="com.gabilheri.rosbridgecontroller.app.LoginActivity"
            android:label="Rosbridge Controller"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.gabilheri.rosbridgecontroller.app.RobotsActivity"
            android:label="@string/title_activity_robots"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.gabilheri.rosbridgecontroller.app.RegisterActivity"
            android:label="@string/title_activity_register"
            android:parentActivityName="com.gabilheri.rosbridgecontroller.app.LoginActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.gabilheri.rosbridgecontroller.app.ForgotPasswordActivity"
            android:label="@string/title_activity_forgot_password"
            android:parentActivityName="com.gabilheri.rosbridgecontroller.app.LoginActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.gabilheri.rosbridgecontroller.app.TestActivity"
            android:label="@string/title_activity_test" >
        </activity>
        <activity
            android:name="com.gabilheri.rosbridgecontroller.app.AddRobot"
            android:label="@string/title_activity_add_robot"
            android:parentActivityName="com.gabilheri.rosbridgecontroller.app.RobotsActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="RobotsActivity" />
        </activity>
    </application>

</manifest>
